body {
    font-family: "Lato", sans-serif;
    padding: 0;
    margin: 0;
}

nav {
    background-color: black;
    color: white;
    padding: 20px 50px;
}

.navtop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 10px 28px;
    border-radius: 10px;
}

.searchinput {
    border: none;
    background-color: transparent;
}

.searchinput::placeholder {
    color: lightgray;
}

.limitedoffer {
    font-size: 20px;
    cursor: pointer;
}

/*................ BOTTOM  NAV BAR STYLE..........*/
.navbottem {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuitem {
    margin-right: 50px;
    cursor: pointer;
    color: lightgray;
    font-weight: 400;
}

.slider {
    background: url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80");
    /*clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%)*/
}

.slidewapper {
    display: flex;
    width: 500vw;
}


.slideitem {
    width: 100vw; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.sildertitle{ 
    color: aliceblue;  
    position: absolute;
    top: 10%;
    right: 20%;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    z-index: 1;
}
.sliderprice{ 
    color: aliceblue;
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    border: 1px solid rgb(88, 88, 88);
    z-index: 1;
}
.buybutton{ 
    color: aliceblue;
    position: absolute;
    top: 50%;
    right: 10%;
    font-size: 30px;
    font-weight:900;
    border: 1px solid rgb(88, 88, 88);
    z-index: 1;
    background-color: black;
    cursor: pointer;
}
.sliderimg{
    z-index: 1;
}
.sliderbg{
width: 750px;
height: 750px;
border-radius: 50%;
 /*background-color: red;*/
position: absolute;
}
.buybutton:hover{
    background-color: white;
    color: black;
}
.slideitem:nth-child(1) .sliderbg{
    background-color: #55bb7f;
}.slideitem:nth-child(2) .sliderbg{
    background-color: rgb(128, 91, 165);
}.slideitem:nth-child(3) .sliderbg{
    background-color: rgb(36, 77, 77);
}.slideitem:nth-child(4) .sliderbg{
    background-color: cornflowerblue;
}.slideitem:nth-child(5) .sliderbg{
    background-color: rgb(124,115,80);
}


.slideitem:nth-child(1) .sliderprice{
    color: #55bb7f;
}.slideitem:nth-child(2) .sliderprice{
    color: rgb(241, 241, 241);
}.slideitem:nth-child(3) .sliderprice{
    color: rgb(36, 77, 77);
}.slideitem:nth-child(4) .sliderprice{
    color: cornflowerblue;
}.slideitem:nth-child(5) .ssliderpriceliderbg{
    color: rgb(124,115,80);
}