body {
    font-family: "Lato", sans-serif;
    padding: 0;
    margin: 0;
}

nav {
    background-color: black;
    color: white;
    padding: 20px 50px;
}

.navtop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 10px 28px;
    border-radius: 10px;
}

.searchinput {
    border: none;
    background-color: transparent;
}

.searchinput::placeholder {
    color: lightgray;
}

.limitedoffer {
    font-size: 20px;
    cursor: pointer;
}

/*................ BOTTOM  NAV BAR STYLE..........*/
.navbottem {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuitem {
    margin-right: 50px;
    cursor: pointer;
    color: lightgray;
    font-weight: 400;
}

.slider {
    background: url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80");
   overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%)
}

.slidewapper {
    display: flex;
    width: 500vw;
    transition: all 1s ease-in-out;
}


.slideitem {
    width: 100vw; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.sildertitle{ 
    color: aliceblue;  
    position: absolute;
    top: 10%;
    right: 12%;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    z-index: 1;
}
.sliderprice{ 
    color: aliceblue;
    position: absolute;
    top: 10%;
    left: 8%;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    border: 1px solid rgb(88, 88, 88);
    z-index: 1;
}
.buybutton{ 
    color: aliceblue;
    position: absolute;
    top: 50%;
    right: 10%;
    font-size: 30px;
    font-weight:900;
    border: 1px solid rgb(88, 88, 88);
    z-index: 1;
    background-color: black;
    cursor: pointer;
}
.sliderimg{
    z-index: 1;
}
.sliderbg{
width: 750px;
height: 750px;
border-radius: 50%;
 /*background-color: red;*/
position: absolute;
}
.buybutton:hover{
    background-color: white;
    color: black;
}
.slideitem:nth-child(1) .sliderbg{
    background-color: #55bb7f;
}.slideitem:nth-child(2) .sliderbg{
    background-color: rgb(128, 91, 165);
}.slideitem:nth-child(3) .sliderbg{
    background-color: rgb(163, 168, 168);
}.slideitem:nth-child(4) .sliderbg{
    background-color: cornflowerblue;
}.slideitem:nth-child(5) .sliderbg{
    background-color: rgb(104, 103, 99);
}


.slideitem:nth-child(1) .sliderprice{
    color: #55bb7f;
}.slideitem:nth-child(2) .sliderprice{
    color: rgb(241, 241, 241);
}.slideitem:nth-child(3) .sliderprice{
    color: rgb(163, 168, 168);
}.slideitem:nth-child(4) .sliderprice{
    color: cornflowerblue;
}.slideitem:nth-child(5) .sliderprice{
    color: rgb(168, 149, 149);
}

.features{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
.featureicon{
    width: 50px;
    height: 50px;
}
.featuretitle{
    font-size:20px;
    font-weight: 600;
    margin: 20px;
}
.featureddesc{
    color: gray;
    width: 50%;
    height: 100px;
}
.product{
    height: 100vh;
    background-color: whitesmoke;
    position: relative;
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
}
.productimg{
    width: 50%;
}

.productdetails{
    position: absolute;
    top: 10%;
    right: 0;
    width: 40%;
    padding: 50px;
}
.producttitle{
    font-size: 75px;
    font-weight: 900;
}
.productdec{
    font-style: 24px;
    color: gray;
}
.colors,.sizes{
    display: flex;
}
.colors{
    width: 32px;
    height: 32px;
    border-radius: 5px;
    background-color:black;
    margin-right:10px;
    cursor: pointer;
}
.color:last-child{
    background-color: darkblue;
}
.size{
    padding: 5px 20px;
    border: 1px solid black;
    margin-right: 10px;
    cursor: pointer;
    font-size: 20px;
}
.productbutton{
    float : right;
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.productbutton:hover{
    background-color: beige;
    color: black;
}