body {
    font-family: "Lato", sans-serif;
    padding: 0;
    margin: 0;
}

nav {
    background-color: black;
    color: white;
    padding: 20px 50px;
}

.navtop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 10px 28px;
    border-radius: 10px;
}

.searchinput {
    border: none;
    background-color: transparent;
}

.searchinput::placeholder {
    color: lightgray;
}

.limitedoffer {
    font-size: 20px;
    cursor: pointer;
}

/*................ BOTTOM  NAV BAR STYLE..........*/
.navbottem {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuitem {
    margin-right: 50px;
    cursor: pointer;
    color: lightgray;
    font-weight: 400;
}

.slider {
    background: url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80");
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%)
}

.slidewapper {
    display: flex;
    width: 500vw;
}

.slideitem {
    width: 100vw; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.sildertitle{ 
    color: aliceblue;
    position: absolute;
    top: 0;
}
